<h2>Login</h2>
<form action="/login" method="post">
    <% if(messages.error){ %>
        <span style="color: red">
        <%= messages.error %>
        </span>
    <% } %>
    <div>
        <label for="email">email</label>
        <input type="text" id="emai" name="email" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
    </div>
    <div>
        <input type="submit" value="Login">
    </div>
</form>
<li><a href="/forgot-password" id="forgotPass">Lupa Password?</a></li>